<div class="container">
  <h2>Вход</h2>
  <form [formGroup]="loginForm" class="form" (submit)="sendLoginData()">
    <div class="form-group">
      <label>Email:</label>
      <input type="email" name="email" formControlName="email">
    </div>
    <div class="form-group">
      <label>Пароль:</label>
      <input type="password" name="password" formControlName="password">
    </div>
    <button type="submit">Войти</button>
    <p>Если нет аккаунт</p>
    <button (click)="navigateToRegisterPage()">Регистрация</button>
  </form>
  <div *ngIf="loginError" class="error-message">
    {{ errorMessage }}
  </div>
</div>
