<div class="container">
  <h2>Вход</h2>
  <form (ngSubmit)="register()" class="form">
    <div class="form-group">
      <label>Email:</label>
      <input type="email" name="email" [(ngModel)]="userData.email" required>
    </div>
    <div class="form-group">
      <label>Пароль:</label>
      <input type="password" name="password" [(ngModel)]="userData.password" required>
    </div>
    <button type="submit">Войти</button>
    <p>Если нет аккаунта</p>
    <button (click)="navigateToRegisterPage()">Регистрация</button>
  </form>
  <div *ngIf="registrationError" class="error-message">
    Пожалуйста, заполните все обязательные поля для входа.
  </div>
</div>
