<form [formGroup] = "userForm"> 
<h2>Список пользователей</h2>
<ul>
    <div class="flex">
        <li *ngFor="let user of usersService.users$ | async">
            <div class="user-info">
                <p>
                    {{ user.first_name }} {{ user.last_name }}
                </p>
            </div>
            <img src="{{user.avatar}}" alt="user_avatar">
            <button (click)="navigateToUserDetails(user.id)">Подробнее</button>
            <button (click)="usersService.deleteUser(user.id)">Удалить</button>
        </li>
    </div>
</ul>
</form>


<form [formGroup] = "resourcesForm">
<h2>Список ресурсов</h2>
<ul>
    <div class="flex">
        <li *ngFor="let resource of usersService.resources$ | async">
            <div class="resource-info">
                <p>name: {{ resource.name }}</p>
                <p>year: {{ resource.year }}</p>
                <p>color: {{ resource.color }}</p>
                <p>pantone_value: {{ resource.pantone_value }}</p>
            </div>
        </li>
    </div>
</ul>
<div class="flex">
    <button type="submit" (click)="navigateToLoginPage()">Выход</button>
</div>
</form>

