<div class="container">
  <h2>Регистрация</h2>
  <form [formGroup]="registerForm" class="form" (submit)="sendRegData()">
    <div class="form-group">
      <label>Email:</label>
      <input type="email" name="email" formControlName="email">
    </div>
    <div class="form-group">
      <label>Пароль:</label>
      <input type="password" name="password" formControlName="password">
    </div>
    <button type="submit">Зарегистрироваться</button>
    <p>Если есть аккаунт</p>
    <button (click)="navigateToLoginPage()">Вход</button>
  </form>
  <div *ngIf="registrationError" class="error-message">
    {{ errorMessage }}
  </div>
</div>
